<form action="/new" method="POST" class="card bg-dark text-light">
<div class="card-body p-4">

    <div class="mb-3">
        <label for="fullname">Escribe tu nombre:</label>
        <input type="text" name="fullname", placeholder="Escribe tu nombre", class="form-control rounded-3 bg-dark border-2 text-white">
    </div>
    <div class="mb-3">
        <label for="email">Escribe tu email:</label>
        <input type="text" name="email" placeholder="Escribe tu email", class="form-control rounded-3 bg-dark border-2 text-white">
    </div class="mb-3">
    <label for="email">Escribe tu Telefono:</label>
    <input type="text" name="phone" placeholder="Escribe tu telefono", class="form-control rounded-3 bg-dark border-2 text-white mb-3">
    <button class="btn btn-primary border-1 rounded-3 ">
        Save
    </button>
</div>
</form>