{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        {% include 'partials/_message.html'%}
        {% include 'partials/_contactForm.html'%}
    </div>
    <div class="col-md-7">
        
            {% for contacto in contactos %}
        
            <div class="card mb-1 text-white bg-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>{{contacto.fullname}}</h5>
                        <div>
                        <a href="{{ url_for('contacts.update_contact', id=contacto.id)}}"class="btn bg-black
                        text-white btn-sm rounded-3">Update</a>
                        <a href="{{ url_for('contacts.delete_contact', id=contacto.id)}}"class="btn btn-danger btn-sm rounded3">Delete</a>
                        </div>
                    </div>
                    <p>{{contacto.email}}</p>
                    <p>{{contacto.phone}}</p>
                </div>
        
                
            </div>
        
            {% endfor %}
        
    </div>
</div>

{% endblock %}

